/node_modules
/public/hot
/public/storage
/public/docs
/storage/*.key
/storage
/recursos
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/css/app.css
/public/css/app_home.css
/public/js/app.js
/public/js/app_home.js
/public/mix-manifest.json

package-lock.json
composer.lock
.DS_Store
old_backup

/public/bower_components
/public/build