
/*---------------------------------------------------------------------------------
Common helpers
---------------------------------------------------------------------------------*/

.ub-ocultar { display: none; }
.ub-mostrar { display: inherit; }

.ub-ocultar-mobile { @media only screen and (max-width: 992px) { display: none;	} }
.ub-ocultar-web { @media only screen and (min-width: 992px) { display: none;	} }

.ub-text-bold { font-weight: bold !important; }
.ub-responsive-font-size { font-size: calc(1em + 1vw); }

.ub-font-weight-100 { font-weight: 100 !important; }
.ub-font-weight-200 { font-weight: 200 !important; }
.ub-font-weight-300 { font-weight: 300 !important; }
.ub-font-weight-400 { font-weight: 400 !important; }
.ub-font-weight-500 { font-weight: 500 !important; }
.ub-font-weight-600 { font-weight: 600 !important; }
.ub-font-weight-700 { font-weight: 700 !important; }
.ub-font-weight-800 { font-weight: 800 !important; }

.ub-opacity-1 {	opacity: 0.1 !important; }
.ub-opacity-2 {	opacity: 0.2 !important; }
.ub-opacity-3 {	opacity: 0.3 !important; }
.ub-opacity-4 {	opacity: 0.4 !important; }
.ub-opacity-5 {	opacity: 0.5 !important; }
.ub-opacity-6 {	opacity: 0.6 !important; }
.ub-opacity-7 {	opacity: 0.7 !important; }
.ub-opacity-8 {	opacity: 0.8 !important; }
.ub-opacity-9 {	opacity: 0.9 !important; }

.ub-opacity-none {	opacity: 1 !important; }

.ub-padding-1 { padding: 1px !important; }
.ub-padding-2 { padding: 2px !important; }
.ub-padding-3 { padding: 3px !important; }
.ub-padding-4 { padding: 4px !important; }
.ub-padding-5 { padding: 5px !important; }
.ub-padding-6 { padding: 6px !important; }
.ub-padding-7 { padding: 7px !important; }
.ub-padding-8 { padding: 8px !important; }
.ub-padding-9 { padding: 9px !important; }
.ub-padding-10 { padding: 10px !important; }
.ub-padding-11 { padding: 11px !important; }
.ub-padding-12 { padding: 12px !important; }
.ub-padding-13 { padding: 13px !important; }
.ub-padding-14 { padding: 14px !important; }
.ub-padding-15 { padding: 15px !important; }

.ub-padding-left-1 { padding-left: 1px !important; }
.ub-padding-left-2 { padding-left: 2px !important; }
.ub-padding-left-3 { padding-left: 3px !important; }
.ub-padding-left-4 { padding-left: 4px !important; }
.ub-padding-left-5 { padding-left: 5px !important; }
.ub-padding-left-6 { padding-left: 6px !important; }
.ub-padding-left-7 { padding-left: 7px !important; }
.ub-padding-left-8 { padding-left: 8px !important; }
.ub-padding-left-9 { padding-left: 9px !important; }
.ub-padding-left-10 { padding-left: 10px !important; }
.ub-padding-left-11 { padding-left: 11px !important; }
.ub-padding-left-12 { padding-left: 12px !important; }
.ub-padding-left-13 { padding-left: 13px !important; }
.ub-padding-left-14 { padding-left: 14px !important; }
.ub-padding-left-15 { padding-left: 15px !important; }

.ub-margin-left-1 { margin-left: 1px !important; }
.ub-margin-left-2 { margin-left: 2px !important; }
.ub-margin-left-3 { margin-left: 3px !important; }
.ub-margin-left-4 { margin-left: 4px !important; }
.ub-margin-left-5 { margin-left: 5px !important; }
.ub-margin-left-6 { margin-left: 6px !important; }
.ub-margin-left-7 { margin-left: 7px !important; }
.ub-margin-left-8 { margin-left: 8px !important; }
.ub-margin-left-9 { margin-left: 9px !important; }
.ub-margin-left-10 { margin-left: 10px !important; }
.ub-margin-left-11 { margin-left: 11px !important; }
.ub-margin-left-12 { margin-left: 12px !important; }
.ub-margin-left-13 { margin-left: 13px !important; }
.ub-margin-left-14 { margin-left: 14px !important; }
.ub-margin-left-15 { margin-left: 15px !important; }

.ub-min-h-100 { min-height: 100vh !important; }
.ub-min-h-90 { min-height: 90vh !important; }
.ub-min-h-80 { min-height: 80vh !important; }
.ub-min-h-70 { min-height: 70vh !important; }
.ub-min-h-60 { min-height: 60vh !important; }
.ub-min-h-50 { min-height: 50vh !important; }
.ub-min-h-40 { min-height: 40vh !important; }
.ub-min-h-30 { min-height: 30vh !important; }
.ub-min-h-20 { min-height: 20vh !important; }
.ub-min-h-10 { min-height: 10vh !important; }

.font-6 { font-size: 6px !important; }
.font-7 { font-size: 7px !important; }
.font-8 { font-size: 8px !important; }
.font-9 { font-size: 9px !important; }
.font-10 { font-size: 10px !important; }
.font-11 { font-size: 11px !important; }
.font-12 { font-size: 12px !important; }
.font-13 { font-size: 13px !important; }
.font-14 { font-size: 14px !important; }
.font-15 { font-size: 15px !important; }
.font-16 { font-size: 16px !important; }
.font-17 { font-size: 17px !important; }
.font-18 { font-size: 18px !important; }
.font-19 { font-size: 19px !important; }
.font-20 { font-size: 20px !important; }
.font-21 { font-size: 21px !important; }
.font-22 { font-size: 22px !important; }
.font-23 { font-size: 23px !important; }
.font-24 { font-size: 24px !important; }
.font-25 { font-size: 25px !important; }
.font-26 { font-size: 26px !important; }
.font-27 { font-size: 27px !important; }
.font-28 { font-size: 28px !important; }
.font-29 { font-size: 29px !important; }
.font-30 { font-size: 30px !important; }
.font-31 { font-size: 31px !important; }
.font-32 { font-size: 32px !important; }
.font-33 { font-size: 33px !important; }
.font-34 { font-size: 34px !important; }
.font-35 { font-size: 35px !important; }
.font-36 { font-size: 36px !important; }
.font-37 { font-size: 37px !important; }
.font-38 { font-size: 38px !important; }
.font-39 { font-size: 39px !important; }
.font-40 { font-size: 40px !important; }
.font-41 { font-size: 41px !important; }
.font-42 { font-size: 42px !important; }
.font-43 { font-size: 43px !important; }
.font-44 { font-size: 44px !important; }
.font-45 { font-size: 45px !important; }
.font-46 { font-size: 46px !important; }
.font-47 { font-size: 47px !important; }
.font-48 { font-size: 48px !important; }
.font-49 { font-size: 49px !important; }
.font-50 { font-size: 50px !important; }
.font-51 { font-size: 51px !important; }
.font-52 { font-size: 52px !important; }
.font-53 { font-size: 53px !important; }
.font-54 { font-size: 54px !important; }
.font-55 { font-size: 55px !important; }
.font-56 { font-size: 56px !important; }
.font-57 { font-size: 57px !important; }
.font-58 { font-size: 58px !important; }
.font-59 { font-size: 59px !important; }
.font-60 { font-size: 60px !important; }

.ub-m-no {margin: 0 !important }

.ub-ml-no { margin-left: 0 !important }
.ub-mr-no { margin-right: 0 !important }
.ub-mt-no { margin-top: 0 !important }
.ub-mb-no { margin-bottom: 0 !important }

.ub-p-no { padding: 0 !important }

.ub-pl-no { padding-left: 0 !important }
.ub-pr-no { padding-right: 0 !important }
.ub-pt-no { padding-top: 0 !important }
.ub-pb-no { padding-bottom: 0 !important }

.ub-p-1 { padding: 1px !important; }
.ub-p-2 { padding: 2px !important; }
.ub-p-3 { padding: 3px !important; }
.ub-p-4 { padding: 4px !important; }
.ub-p-5 { padding: 5px !important; }
.ub-p-6 { padding: 6px !important; }
.ub-p-7 { padding: 7px !important; }
.ub-p-8 { padding: 8px !important; }
.ub-p-9 { padding: 9px !important; }
.ub-p-10 { padding: 10px !important; }
.ub-p-11 { padding: 11px !important; }
.ub-p-12 { padding: 12px !important; }
.ub-p-13 { padding: 13px !important; }
.ub-p-14 { padding: 14px !important; }
.ub-p-15 { padding: 15px !important; }
.ub-p-16 { padding: 16px !important; }
.ub-p-17 { padding: 17px !important; }
.ub-p-18 { padding: 18px !important; }
.ub-p-19 { padding: 19px !important; }
.ub-p-20 { padding: 20px !important; }
.ub-p-21 { padding: 21px !important; }
.ub-p-22 { padding: 22px !important; }
.ub-p-23 { padding: 23px !important; }
.ub-p-24 { padding: 24px !important; }
.ub-p-25 { padding: 25px !important; }

.ub-m-1 { margin: 1px !important; }
.ub-m-2 { margin: 2px !important; }
.ub-m-3 { margin: 3px !important; }
.ub-m-4 { margin: 4px !important; }
.ub-m-5 { margin: 5px !important; }
.ub-m-6 { margin: 6px !important; }
.ub-m-7 { margin: 7px !important; }
.ub-m-8 { margin: 8px !important; }
.ub-m-9 { margin: 9px !important; }
.ub-m-10 { margin: 10px !important; }
.ub-m-11 { margin: 11px !important; }
.ub-m-12 { margin: 12px !important; }
.ub-m-13 { margin: 13px !important; }
.ub-m-14 { margin: 14px !important; }
.ub-m-15 { margin: 15px !important; }
.ub-m-16 { margin: 16px !important; }
.ub-m-17 { margin: 17px !important; }
.ub-m-18 { margin: 18px !important; }
.ub-m-19 { margin: 19px !important; }
.ub-m-20 { margin: 20px !important; }
.ub-m-21 { margin: 21px !important; }
.ub-m-22 { margin: 22px !important; }
.ub-m-23 { margin: 23px !important; }
.ub-m-24 { margin: 24px !important; }
.ub-m-25 { margin: 25px !important; }

.ub-mt-1 { margin-top: 1px !important; }
.ub-mt-2 { margin-top: 2px !important; }
.ub-mt-3 { margin-top: 3px !important; }
.ub-mt-4 { margin-top: 4px !important; }
.ub-mt-5 { margin-top: 5px !important; }
.ub-mt-6 { margin-top: 6px !important; }
.ub-mt-7 { margin-top: 7px !important; }
.ub-mt-8 { margin-top: 8px !important; }
.ub-mt-9 { margin-top: 9px !important; }
.ub-mt-10 { margin-top: 10px !important; }
.ub-mt-11 { margin-top: 11px !important; }
.ub-mt-12 { margin-top: 12px !important; }
.ub-mt-13 { margin-top: 13px !important; }
.ub-mt-14 { margin-top: 14px !important; }
.ub-mt-15 { margin-top: 15px !important; }
.ub-mt-16 { margin-top: 16px !important; }
.ub-mt-17 { margin-top: 17px !important; }
.ub-mt-18 { margin-top: 18px !important; }
.ub-mt-19 { margin-top: 19px !important; }
.ub-mt-20 { margin-top: 20px !important; }
.ub-mt-21 { margin-top: 21px !important; }
.ub-mt-22 { margin-top: 22px !important; }
.ub-mt-23 { margin-top: 23px !important; }
.ub-mt-24 { margin-top: 24px !important; }
.ub-mt-25 { margin-top: 25px !important; }
.ub-mt-26 { margin-top: 26px !important; }
.ub-mt-27 { margin-top: 27px !important; }
.ub-mt-28 { margin-top: 28px !important; }
.ub-mt-29 { margin-top: 29px !important; }
.ub-mt-30 { margin-top: 30px !important; }
.ub-mt-31 { margin-top: 31px !important; }
.ub-mt-32 { margin-top: 32px !important; }
.ub-mt-33 { margin-top: 33px !important; }
.ub-mt-34 { margin-top: 34px !important; }
.ub-mt-35 { margin-top: 35px !important; }
.ub-mt-37 { margin-top: 37px !important; }
.ub-mt-38 { margin-top: 38px !important; }
.ub-mt-39 { margin-top: 39px !important; }
.ub-mt-40 { margin-top: 40px !important; }
.ub-mt-41 { margin-top: 41px !important; }
.ub-mt-42 { margin-top: 42px !important; }
.ub-mt-43 { margin-top: 43px !important; }
.ub-mt-44 { margin-top: 44px !important; }
.ub-mt-45 { margin-top: 45px !important; }
.ub-mt-46 { margin-top: 46px !important; }
.ub-mt-47 { margin-top: 47px !important; }
.ub-mt-48 { margin-top: 48px !important; }
.ub-mt-49 { margin-top: 49px !important; }
.ub-mt-50 { margin-top: 50px !important; }

.ub-mb-1 { margin-bottom: 1px !important; }
.ub-mb-2 { margin-bottom: 2px !important; }
.ub-mb-3 { margin-bottom: 3px !important; }
.ub-mb-4 { margin-bottom: 4px !important; }
.ub-mb-5 { margin-bottom: 5px !important; }
.ub-mb-6 { margin-bottom: 6px !important; }
.ub-mb-7 { margin-bottom: 7px !important; }
.ub-mb-8 { margin-bottom: 8px !important; }
.ub-mb-9 { margin-bottom: 9px !important; }
.ub-mb-10 { margin-bottom: 10px !important; }
.ub-mb-11 { margin-bottom: 11px !important; }
.ub-mb-12 { margin-bottom: 12px !important; }
.ub-mb-13 { margin-bottom: 13px !important; }
.ub-mb-14 { margin-bottom: 14px !important; }
.ub-mb-15 { margin-bottom: 15px !important; }
.ub-mb-16 { margin-bottom: 16px !important; }
.ub-mb-17 { margin-bottom: 17px !important; }
.ub-mb-18 { margin-bottom: 18px !important; }
.ub-mb-19 { margin-bottom: 19px !important; }
.ub-mb-20 { margin-bottom: 20px !important; }
.ub-mb-21 { margin-bottom: 21px !important; }
.ub-mb-22 { margin-bottom: 22px !important; }
.ub-mb-23 { margin-bottom: 23px !important; }
.ub-mb-24 { margin-bottom: 24px !important; }
.ub-mb-25 { margin-bottom: 25px !important; }
.ub-mb-25 { margin-bottom: 25px !important; }
.ub-mb-26 { margin-bottom: 26px !important; }
.ub-mb-27 { margin-bottom: 27px !important; }
.ub-mb-28 { margin-bottom: 28px !important; }
.ub-mb-29 { margin-bottom: 29px !important; }
.ub-mb-30 { margin-bottom: 30px !important; }
.ub-mb-31 { margin-bottom: 31px !important; }
.ub-mb-32 { margin-bottom: 32px !important; }
.ub-mb-33 { margin-bottom: 33px !important; }
.ub-mb-34 { margin-bottom: 34px !important; }
.ub-mb-35 { margin-bottom: 35px !important; }
.ub-mb-36 { margin-bottom: 36px !important; }
.ub-mb-37 { margin-bottom: 37px !important; }
.ub-mb-38 { margin-bottom: 38px !important; }
.ub-mb-39 { margin-bottom: 39px !important; }
.ub-mb-40 { margin-bottom: 40px !important; }
.ub-mb-41 { margin-bottom: 41px !important; }
.ub-mb-42 { margin-bottom: 42px !important; }
.ub-mb-43 { margin-bottom: 43px !important; }
.ub-mb-44 { margin-bottom: 44px !important; }
.ub-mb-45 { margin-bottom: 45px !important; }
.ub-mb-46 { margin-bottom: 46px !important; }
.ub-mb-47 { margin-bottom: 47px !important; }
.ub-mb-48 { margin-bottom: 48px !important; }
.ub-mb-49 { margin-bottom: 49px !important; }
.ub-mb-50 { margin-bottom: 50px !important; }
.ub-mb-51 { margin-bottom: 51px !important; }
.ub-mb-52 { margin-bottom: 52px !important; }
.ub-mb-53 { margin-bottom: 53px !important; }
.ub-mb-54 { margin-bottom: 54px !important; }
.ub-mb-55 { margin-bottom: 55px !important; }
.ub-mb-56 { margin-bottom: 56px !important; }
.ub-mb-57 { margin-bottom: 57px !important; }
.ub-mb-58 { margin-bottom: 58px !important; }
.ub-mb-59 { margin-bottom: 59px !important; }
.ub-mb-60 { margin-bottom: 60px !important; }

.ub-ml-1 { margin-left: 1px !important; }
.ub-ml-2 { margin-left: 2px !important; }
.ub-ml-3 { margin-left: 3px !important; }
.ub-ml-4 { margin-left: 4px !important; }
.ub-ml-5 { margin-left: 5px !important; }
.ub-ml-6 { margin-left: 6px !important; }
.ub-ml-7 { margin-left: 7px !important; }
.ub-ml-8 { margin-left: 8px !important; }
.ub-ml-9 { margin-left: 9px !important; }
.ub-ml-10 { margin-left: 10px !important; }
.ub-ml-11 { margin-left: 11px !important; }
.ub-ml-12 { margin-left: 12px !important; }
.ub-ml-13 { margin-left: 13px !important; }
.ub-ml-14 { margin-left: 14px !important; }
.ub-ml-15 { margin-left: 15px !important; }
.ub-ml-16 { margin-left: 16px !important; }
.ub-ml-17 { margin-left: 17px !important; }
.ub-ml-18 { margin-left: 18px !important; }
.ub-ml-19 { margin-left: 19px !important; }
.ub-ml-20 { margin-left: 20px !important; }
.ub-ml-21 { margin-left: 21px !important; }
.ub-ml-22 { margin-left: 22px !important; }
.ub-ml-23 { margin-left: 23px !important; }
.ub-ml-24 { margin-left: 24px !important; }
.ub-ml-25 { margin-left: 25px !important; }

.ub-mr-1 { margin-right: 1px !important; }
.ub-mr-2 { margin-right: 2px !important; }
.ub-mr-3 { margin-right: 3px !important; }
.ub-mr-4 { margin-right: 4px !important; }
.ub-mr-5 { margin-right: 5px !important; }
.ub-mr-6 { margin-right: 6px !important; }
.ub-mr-7 { margin-right: 7px !important; }
.ub-mr-8 { margin-right: 8px !important; }
.ub-mr-9 { margin-right: 9px !important; }
.ub-mr-10 { margin-right: 10px !important; }
.ub-mr-11 { margin-right: 11px !important; }
.ub-mr-12 { margin-right: 12px !important; }
.ub-mr-13 { margin-right: 13px !important; }
.ub-mr-14 { margin-right: 14px !important; }
.ub-mr-15 { margin-right: 15px !important; }
.ub-mr-16 { margin-right: 16px !important; }
.ub-mr-17 { margin-right: 17px !important; }
.ub-mr-18 { margin-right: 18px !important; }
.ub-mr-19 { margin-right: 19px !important; }
.ub-mr-20 { margin-right: 20px !important; }
.ub-mr-21 { margin-right: 21px !important; }
.ub-mr-22 { margin-right: 22px !important; }
.ub-mr-23 { margin-right: 23px !important; }
.ub-mr-24 { margin-right: 24px !important; }
.ub-mr-25 { margin-right: 25px !important; }
.ub-mr-26 { margin-right: 26px !important; }
.ub-mr-27 { margin-right: 27px !important; }
.ub-mr-28 { margin-right: 28px !important; }
.ub-mr-29 { margin-right: 29px !important; }
.ub-mr-30 { margin-right: 30px !important; }
.ub-mr-31 { margin-right: 31px !important; }
.ub-mr-32 { margin-right: 32px !important; }
.ub-mr-33 { margin-right: 33px !important; }
.ub-mr-34 { margin-right: 34px !important; }
.ub-mr-35 { margin-right: 35px !important; }
.ub-mr-37 { margin-right: 37px !important; }
.ub-mr-38 { margin-right: 38px !important; }
.ub-mr-39 { margin-right: 39px !important; }
.ub-mr-40 { margin-right: 40px !important; }
.ub-mr-41 { margin-right: 41px !important; }
.ub-mr-42 { margin-right: 42px !important; }
.ub-mr-43 { margin-right: 43px !important; }
.ub-mr-44 { margin-right: 44px !important; }
.ub-mr-45 { margin-right: 45px !important; }
.ub-mr-46 { margin-right: 46px !important; }
.ub-mr-47 { margin-right: 47px !important; }
.ub-mr-48 { margin-right: 48px !important; }
.ub-mr-49 { margin-right: 49px !important; }
.ub-mr-50 { margin-right: 50px !important; }

.ub-pt-1 { padding-top: 1px !important; }
.ub-pt-2 { padding-top: 2px !important; }
.ub-pt-3 { padding-top: 3px !important; }
.ub-pt-4 { padding-top: 4px !important; }
.ub-pt-5 { padding-top: 5px !important; }
.ub-pt-6 { padding-top: 6px !important; }
.ub-pt-7 { padding-top: 7px !important; }
.ub-pt-8 { padding-top: 8px !important; }
.ub-pt-9 { padding-top: 9px !important; }
.ub-pt-10 { padding-top: 10px !important; }
.ub-pt-11 { padding-top: 11px !important; }
.ub-pt-12 { padding-top: 12px !important; }
.ub-pt-13 { padding-top: 13px !important; }
.ub-pt-14 { padding-top: 14px !important; }
.ub-pt-15 { padding-top: 15px !important; }
.ub-pt-16 { padding-top: 16px !important; }
.ub-pt-17 { padding-top: 17px !important; }
.ub-pt-18 { padding-top: 18px !important; }
.ub-pt-19 { padding-top: 19px !important; }
.ub-pt-20 { padding-top: 20px !important; }
.ub-pt-21 { padding-top: 21px !important; }
.ub-pt-22 { padding-top: 22px !important; }
.ub-pt-23 { padding-top: 23px !important; }
.ub-pt-24 { padding-top: 24px !important; }
.ub-pt-25 { padding-top: 25px !important; }

.ub-pb-1 { padding-bottom: 1px !important; }
.ub-pb-2 { padding-bottom: 2px !important; }
.ub-pb-3 { padding-bottom: 3px !important; }
.ub-pb-4 { padding-bottom: 4px !important; }
.ub-pb-5 { padding-bottom: 5px !important; }
.ub-pb-6 { padding-bottom: 6px !important; }
.ub-pb-7 { padding-bottom: 7px !important; }
.ub-pb-8 { padding-bottom: 8px !important; }
.ub-pb-9 { padding-bottom: 9px !important; }
.ub-pb-10 { padding-bottom: 10px !important; }
.ub-pb-11 { padding-bottom: 11px !important; }
.ub-pb-12 { padding-bottom: 12px !important; }
.ub-pb-13 { padding-bottom: 13px !important; }
.ub-pb-14 { padding-bottom: 14px !important; }
.ub-pb-15 { padding-bottom: 15px !important; }
.ub-pb-16 { padding-bottom: 16px !important; }
.ub-pb-17 { padding-bottom: 17px !important; }
.ub-pb-18 { padding-bottom: 18px !important; }
.ub-pb-19 { padding-bottom: 19px !important; }
.ub-pb-20 { padding-bottom: 20px !important; }
.ub-pb-21 { padding-bottom: 21px !important; }
.ub-pb-22 { padding-bottom: 22px !important; }
.ub-pb-23 { padding-bottom: 23px !important; }
.ub-pb-24 { padding-bottom: 24px !important; }
.ub-pb-25 { padding-bottom: 25px !important; }
.ub-pb-26 { padding-bottom: 26px !important; }
.ub-pb-27 { padding-bottom: 27px !important; }
.ub-pb-28 { padding-bottom: 28px !important; }
.ub-pb-29 { padding-bottom: 29px !important; }
.ub-pb-30 { padding-bottom: 30px !important; }
.ub-pb-31 { padding-bottom: 31px !important; }
.ub-pb-32 { padding-bottom: 32px !important; }
.ub-pb-33 { padding-bottom: 33px !important; }
.ub-pb-34 { padding-bottom: 34px !important; }
.ub-pb-35 { padding-bottom: 35px !important; }
.ub-pb-36 { padding-bottom: 36px !important; }
.ub-pb-37 { padding-bottom: 37px !important; }
.ub-pb-38 { padding-bottom: 38px !important; }
.ub-pb-39 { padding-bottom: 39px !important; }
.ub-pb-40 { padding-bottom: 40px !important; }

.ub-pl-1 { padding-left: 1px !important; }
.ub-pl-2 { padding-left: 2px !important; }
.ub-pl-3 { padding-left: 3px !important; }
.ub-pl-4 { padding-left: 4px !important; }
.ub-pl-5 { padding-left: 5px !important; }
.ub-pl-6 { padding-left: 6px !important; }
.ub-pl-7 { padding-left: 7px !important; }
.ub-pl-8 { padding-left: 8px !important; }
.ub-pl-9 { padding-left: 9px !important; }
.ub-pl-10 { padding-left: 10px !important; }
.ub-pl-11 { padding-left: 11px !important; }
.ub-pl-12 { padding-left: 12px !important; }
.ub-pl-13 { padding-left: 13px !important; }
.ub-pl-14 { padding-left: 14px !important; }
.ub-pl-15 { padding-left: 15px !important; }
.ub-pl-16 { padding-left: 16px !important; }
.ub-pl-17 { padding-left: 17px !important; }
.ub-pl-18 { padding-left: 18px !important; }
.ub-pl-19 { padding-left: 19px !important; }
.ub-pl-20 { padding-left: 20px !important; }
.ub-pl-21 { padding-left: 21px !important; }
.ub-pl-22 { padding-left: 22px !important; }
.ub-pl-23 { padding-left: 23px !important; }
.ub-pl-24 { padding-left: 24px !important; }
.ub-pl-25 { padding-left: 25px !important; }

.ub-pr-1 { padding-right: 1px !important; }
.ub-pr-2 { padding-right: 2px !important; }
.ub-pr-3 { padding-right: 3px !important; }
.ub-pr-4 { padding-right: 4px !important; }
.ub-pr-5 { padding-right: 5px !important; }
.ub-pr-6 { padding-right: 6px !important; }
.ub-pr-7 { padding-right: 7px !important; }
.ub-pr-8 { padding-right: 8px !important; }
.ub-pr-9 { padding-right: 9px !important; }
.ub-pr-10 { padding-right: 10px !important; }
.ub-pr-11 { padding-right: 11px !important; }
.ub-pr-12 { padding-right: 12px !important; }
.ub-pr-13 { padding-right: 13px !important; }
.ub-pr-14 { padding-right: 14px !important; }
.ub-pr-15 { padding-right: 15px !important; }
.ub-pr-16 { padding-right: 16px !important; }
.ub-pr-17 { padding-right: 17px !important; }
.ub-pr-18 { padding-right: 18px !important; }
.ub-pr-19 { padding-right: 19px !important; }
.ub-pr-20 { padding-right: 20px !important; }
.ub-pr-21 { padding-right: 21px !important; }
.ub-pr-22 { padding-right: 22px !important; }
.ub-pr-23 { padding-right: 23px !important; }
.ub-pr-24 { padding-right: 24px !important; }
.ub-pr-25 { padding-right: 25px !important; }

.ub-remove-li-points { list-style-type: none !important; }

.remove_border { border: none; box-shadow: none; }

p.red::selection { background: #ffb7b7; }
p.red::-moz-selection { background: #ffb7b7; }
p.blue::selection { background: #a8d1ff; }
p.blue::-moz-selection { background: #a8d1ff; }
p.yellow::selection { background: #fff2a8; }
p.yellow::-moz-selection { background: #fff2a8; }

/*---------------------------------------------------------------------------------

Fontawesome social css colors

---------------------------------------------------------------------------------*/

.fa-facebook, .fa-facebook-square { color: #3b5998 }
.fa-twitter, .fa-twitter-square { color: #00aced }
.fa-google-plus, .fa-google-plus-square { color: #dd4b39 }
.fa-youtube, .fa-youtube-play, .fa-youtube-square { color: #bb0000 }
.fa-tumblr, .fa-tumblr-square { color: #32506d }
.fa-vine { color: #00bf8f }
.fa-flickr { color: #ff0084 }
.fa-vimeo-square { color: #aad450 }
.fa-pinterest, .fa-pinterest-square { color: #cb2027 }
.fa-linkedin, .fa-linkedin-square { color: #007bb6 }
.fa-instagram { color: #517fa4; }
.fa-spotify { color: #1ED760; }

/*---------------------------------------------------------------------------------

Helper Stylesheet

---------------------------------------------------------------------------------*/

/* region SECTIONS */
.ub-section-50 { position: relative; padding: 50px 0; }
.ub-section-60 { position: relative; padding: 60px 0; }
.ub-section-70 { position: relative; padding: 70px 0; }
.ub-section-80 { position: relative; padding: 80px 0; }
.ub-section-90 { position: relative; padding: 90px 0; }
.ub-section-100 { position: relative; padding: 100px 0; }
.ub-section-110 { position: relative; padding: 110px 0; }
.ub-section-120 { position: relative; padding: 120px 0; }
.ub-section-130 { position: relative; padding: 130px 0; }
.ub-section-140 { position: relative; padding: 140px 0; }
.ub-section-150 { position: relative; padding: 150px 0; }

/* endregion */

/* region GRADIENTS */
/* colors taken from: https://uigradients.com */

.ub-gradient-citrus {
    background: #FDC830; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ub-gradient-blue {
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ub-gradient-evening-night {
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ub-gradient-vanusa {
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ub-gradient-man-of-steel {
    background: #780206;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* endregion */

@media only screen and (min-width: 1200px) {

    /* region NO MARGINS */
    .ub-lg-m-no { margin: 0 !important }
    .ub-lg-ml-no { margin-left: 0 !important }
    .ub-lg-mr-no { margin-right: 0 !important }
    .ub-lg-mt-no { margin-top: 0 !important }
    .ub-lg-mb-no { margin-bottom: 0 !important }

    /* endregion */
    /* region TOP MARGINS */
    .ub-lg-mt-10 { margin-top: 10px }
    .ub-lg-mt-20 { margin-top: 20px }
    .ub-lg-mt-30 { margin-top: 30px }
    .ub-lg-mt-40 { margin-top: 40px }
    .ub-lg-mt-50 { margin-top: 50px }
    .ub-lg-mt-60 { margin-top: 60px }
    .ub-lg-mt-70 { margin-top: 70px }
    .ub-lg-mt-80 { margin-top: 80px }
    .ub-lg-mt-90 { margin-top: 90px }
    .ub-lg-mt-100 { margin-top: 100px }
    .ub-lg-mt-110 { margin-top: 110px }
    .ub-lg-mt-120 { margin-top: 120px }
    .ub-lg-mt-130 { margin-top: 130px }
    .ub-lg-mt-140 { margin-top: 140px }
    .ub-lg-mt-150 { margin-top: 150px }

    /* endregion */
    /* region BOTTOM MARGINS */
    .ub-lg-mb-10 { margin-bottom: 10px }
    .ub-lg-mb-20 { margin-bottom: 20px }
    .ub-lg-mb-30 { margin-bottom: 30px }
    .ub-lg-mb-40 { margin-bottom: 40px }
    .ub-lg-mb-50 { margin-bottom: 50px }
    .ub-lg-mb-60 { margin-bottom: 60px }
    .ub-lg-mb-70 { margin-bottom: 70px }
    .ub-lg-mb-80 { margin-bottom: 80px }
    .ub-lg-mb-90 { margin-bottom: 90px }
    .ub-lg-mb-100 { margin-bottom: 100px }
    .ub-lg-mb-110 { margin-bottom: 110px }
    .ub-lg-mb-120 { margin-bottom: 120px }
    .ub-lg-mb-130 { margin-bottom: 130px }
    .ub-lg-mb-140 { margin-bottom: 140px }
    .ub-lg-mb-150 { margin-bottom: 150px }

    /* endregion */
    /* region NO PADDINGS */
    .ub-lg-p-no { padding: 0 !important }
    .ub-lg-pl-no { padding-left: 0 !important }
    .ub-lg-pr-no { padding-right: 0 !important }
    .ub-lg-pt-no { padding-top: 0 !important }
    .ub-lg-pb-no { padding-bottom: 0 !important }

    /* endregion */
    /* region TOP PADDINGS */
    .ub-lg-pt-10 { padding-top: 10px }
    .ub-lg-pt-20 { padding-top: 20px }
    .ub-lg-pt-30 { padding-top: 30px }
    .ub-lg-pt-40 { padding-top: 40px }
    .ub-lg-pt-50 { padding-top: 50px }
    .ub-lg-pt-60 { padding-top: 60px }
    .ub-lg-pt-70 { padding-top: 70px }
    .ub-lg-pt-80 { padding-top: 80px }
    .ub-lg-pt-90 { padding-top: 90px }
    .ub-lg-pt-100 { padding-top: 100px }
    .ub-lg-pt-110 { padding-top: 110px }
    .ub-lg-pt-120 { padding-top: 120px }
    .ub-lg-pt-130 { padding-top: 130px }
    .ub-lg-pt-140 { padding-top: 140px }
    .ub-lg-pt-150 { padding-top: 150px }

    /* endregion */
    /* region BOTTOM PADDINGS */
    .ub-lg-pb-10 { padding-bottom: 10px }
    .ub-lg-pb-20 { padding-bottom: 20px }
    .ub-lg-pb-30 { padding-bottom: 30px }
    .ub-lg-pb-40 { padding-bottom: 40px }
    .ub-lg-pb-50 { padding-bottom: 50px }
    .ub-lg-pb-60 { padding-bottom: 60px }
    .ub-lg-pb-70 { padding-bottom: 70px }
    .ub-lg-pb-80 { padding-bottom: 80px }
    .ub-lg-pb-90 { padding-bottom: 90px }
    .ub-lg-pb-100 { padding-bottom: 100px }
    .ub-lg-pb-110 { padding-bottom: 110px }
    .ub-lg-pb-120 { padding-bottom: 120px }
    .ub-lg-pb-130 { padding-bottom: 130px }
    .ub-lg-pb-140 { padding-bottom: 140px }
    .ub-lg-pb-150 { padding-bottom: 150px }

    /* endregion */
}
@media only screen and (min-width: 992px) {
    .ub-md-ml-no { margin-left: 0 !important }
    .ub-md-mr-no { margin-right: 0 !important }
    .ub-md-mt-no { margin-top: 0 !important }
    .ub-md-mb-no { margin-bottom: 0 !important }

    /* endregion */
    /* region TOP MARGINS */
    .ub-md-mt-10 { margin-top: 10px }
    .ub-md-mt-20 { margin-top: 20px }
    .ub-md-mt-30 { margin-top: 30px }
    .ub-md-mt-40 { margin-top: 40px }
    .ub-md-mt-50 { margin-top: 50px }
    .ub-md-mt-60 { margin-top: 60px }
    .ub-md-mt-70 { margin-top: 70px }
    .ub-md-mt-80 { margin-top: 80px }
    .ub-md-mt-90 { margin-top: 90px }
    .ub-md-mt-100 { margin-top: 100px }
    .ub-md-mt-110 { margin-top: 110px }
    .ub-md-mt-120 { margin-top: 120px }
    .ub-md-mt-130 { margin-top: 130px }
    .ub-md-mt-140 { margin-top: 140px }
    .ub-md-mt-150 { margin-top: 150px }

    /* endregion */
    /* region BOTTOM MARGINS */
    .ub-md-mb-10 { margin-bottom: 10px }
    .ub-md-mb-20 { margin-bottom: 20px }
    .ub-md-mb-30 { margin-bottom: 30px }
    .ub-md-mb-40 { margin-bottom: 40px }
    .ub-md-mb-50 { margin-bottom: 50px }
    .ub-md-mb-60 { margin-bottom: 60px }
    .ub-md-mb-70 { margin-bottom: 70px }
    .ub-md-mb-80 { margin-bottom: 80px }
    .ub-md-mb-90 { margin-bottom: 90px }
    .ub-md-mb-100 { margin-bottom: 100px }
    .ub-md-mb-110 { margin-bottom: 110px }
    .ub-md-mb-120 { margin-bottom: 120px }
    .ub-md-mb-130 { margin-bottom: 130px }
    .ub-md-mb-140 { margin-bottom: 140px }
    .ub-md-mb-150 { margin-bottom: 150px }

    /* endregion */
    /* region NO PADDINGS */
    .ub-md-p-no { padding: 0 !important }
    .ub-md-pl-no { padding-left: 0 !important }
    .ub-md-pr-no { padding-right: 0 !important }
    .ub-md-pt-no { padding-top: 0 !important }
    .ub-md-pb-no { padding-bottom: 0 !important }

    /* endregion */
    /* region TOP PADDINGS */
    .ub-md-pt-10 { padding-top: 10px }
    .ub-md-pt-20 { padding-top: 20px }
    .ub-md-pt-30 { padding-top: 30px }
    .ub-md-pt-40 { padding-top: 40px }
    .ub-md-pt-50 { padding-top: 50px }
    .ub-md-pt-60 { padding-top: 60px }
    .ub-md-pt-70 { padding-top: 70px }
    .ub-md-pt-80 { padding-top: 80px }
    .ub-md-pt-90 { padding-top: 90px }
    .ub-md-pt-100 { padding-top: 100px }
    .ub-md-pt-110 { padding-top: 110px }
    .ub-md-pt-120 { padding-top: 120px }
    .ub-md-pt-130 { padding-top: 130px }
    .ub-md-pt-140 { padding-top: 140px }
    .ub-md-pt-150 { padding-top: 150px }

    /* endregion */
    /* region BOTTOM PADDINGS */
    .ub-md-pb-10 { padding-bottom: 10px }
    .ub-md-pb-20 { padding-bottom: 20px }
    .ub-md-pb-30 { padding-bottom: 30px }
    .ub-md-pb-40 { padding-bottom: 40px }
    .ub-md-pb-50 { padding-bottom: 50px }
    .ub-md-pb-60 { padding-bottom: 60px }
    .ub-md-pb-70 { padding-bottom: 70px }
    .ub-md-pb-80 { padding-bottom: 80px }
    .ub-md-pb-90 { padding-bottom: 90px }
    .ub-md-pb-100 { padding-bottom: 100px }
    .ub-md-pb-110 { padding-bottom: 110px }
    .ub-md-pb-120 { padding-bottom: 120px }
    .ub-md-pb-130 { padding-bottom: 130px }
    .ub-md-pb-140 { padding-bottom: 140px }
    .ub-md-pb-150 { padding-bottom: 150px }

    /* endregion */
}

@media only screen and (min-width: 600px) {
    .ub-sm-ml-no { margin-left: 0 !important }
    .ub-sm-mr-no { margin-right: 0 !important }
    .ub-sm-mt-no { margin-top: 0 !important }
    .ub-sm-mb-no { margin-bottom: 0 !important }

    /* endregion */
    /* region TOP MARGINS */
    .ub-sm-mt-10 { margin-top: 10px }
    .ub-sm-mt-20 { margin-top: 20px }
    .ub-sm-mt-30 { margin-top: 30px }
    .ub-sm-mt-40 { margin-top: 40px }
    .ub-sm-mt-50 { margin-top: 50px }
    .ub-sm-mt-60 { margin-top: 60px }
    .ub-sm-mt-70 { margin-top: 70px }
    .ub-sm-mt-80 { margin-top: 80px }
    .ub-sm-mt-90 { margin-top: 90px }
    .ub-sm-mt-100 { margin-top: 100px }
    .ub-sm-mt-110 { margin-top: 110px }
    .ub-sm-mt-120 { margin-top: 120px }
    .ub-sm-mt-130 { margin-top: 130px }
    .ub-sm-mt-140 { margin-top: 140px }
    .ub-sm-mt-150 { margin-top: 150px }

    /* endregion */
    /* region BOTTOM MARGINS */
    .ub-sm-mb-10 { margin-bottom: 10px }
    .ub-sm-mb-20 { margin-bottom: 20px }
    .ub-sm-mb-30 { margin-bottom: 30px }
    .ub-sm-mb-40 { margin-bottom: 40px }
    .ub-sm-mb-50 { margin-bottom: 50px }
    .ub-sm-mb-60 { margin-bottom: 60px }
    .ub-sm-mb-70 { margin-bottom: 70px }
    .ub-sm-mb-80 { margin-bottom: 80px }
    .ub-sm-mb-90 { margin-bottom: 90px }
    .ub-sm-mb-100 { margin-bottom: 100px }
    .ub-sm-mb-110 { margin-bottom: 110px }
    .ub-sm-mb-120 { margin-bottom: 120px }
    .ub-sm-mb-130 { margin-bottom: 130px }
    .ub-sm-mb-140 { margin-bottom: 140px }
    .ub-sm-mb-150 { margin-bottom: 150px }

    /* endregion */
    /* region NO PADDINGS */
    .ub-sm-p-no { padding: 0 !important }
    .ub-sm-pl-no { padding-left: 0 !important }
    .ub-sm-pr-no { padding-right: 0 !important }
    .ub-sm-pt-no { padding-top: 0 !important }
    .ub-sm-pb-no { padding-bottom: 0 !important }

    /* endregion */
    /* region TOP PADDINGS */
    .ub-sm-pt-10 { padding-top: 10px }
    .ub-sm-pt-20 { padding-top: 20px }
    .ub-sm-pt-30 { padding-top: 30px }
    .ub-sm-pt-40 { padding-top: 40px }
    .ub-sm-pt-50 { padding-top: 50px }
    .ub-sm-pt-60 { padding-top: 60px }
    .ub-sm-pt-70 { padding-top: 70px }
    .ub-sm-pt-80 { padding-top: 80px }
    .ub-sm-pt-90 { padding-top: 90px }
    .ub-sm-pt-100 { padding-top: 100px }
    .ub-sm-pt-110 { padding-top: 110px }
    .ub-sm-pt-120 { padding-top: 120px }
    .ub-sm-pt-130 { padding-top: 130px }
    .ub-sm-pt-140 { padding-top: 140px }
    .ub-sm-pt-150 { padding-top: 150px }

    /* endregion */
    /* region BOTTOM PADDINGS */
    .ub-sm-pb-10 { padding-bottom: 10px }
    .ub-sm-pb-20 { padding-bottom: 20px }
    .ub-sm-pb-30 { padding-bottom: 30px }
    .ub-sm-pb-40 { padding-bottom: 40px }
    .ub-sm-pb-50 { padding-bottom: 50px }
    .ub-sm-pb-60 { padding-bottom: 60px }
    .ub-sm-pb-70 { padding-bottom: 70px }
    .ub-sm-pb-80 { padding-bottom: 80px }
    .ub-sm-pb-90 { padding-bottom: 90px }
    .ub-sm-pb-100 { padding-bottom: 100px }
    .ub-sm-pb-110 { padding-bottom: 110px }
    .ub-sm-pb-120 { padding-bottom: 120px }
    .ub-sm-pb-130 { padding-bottom: 130px }
    .ub-sm-pb-140 { padding-bottom: 140px }
    .ub-sm-pb-150 { padding-bottom: 150px }

    /* endregion */
}
@media only screen and (max-width: 600px) {
    .ub-xs-ml-no { margin-left: 0 !important }
    .ub-xs-mr-no { margin-right: 0 !important }
    .ub-xs-mt-no { margin-top: 0 !important }
    .ub-xs-mb-no { margin-bottom: 0 !important }

    /* endregion */
    /* region TOP MARGINS */
    .ub-xs-mt-10 { margin-top: 10px }
    .ub-xs-mt-20 { margin-top: 20px }
    .ub-xs-mt-30 { margin-top: 30px }
    .ub-xs-mt-40 { margin-top: 40px }
    .ub-xs-mt-50 { margin-top: 50px }
    .ub-xs-mt-60 { margin-top: 60px }
    .ub-xs-mt-70 { margin-top: 70px }
    .ub-xs-mt-80 { margin-top: 80px }
    .ub-xs-mt-90 { margin-top: 90px }
    .ub-xs-mt-100 { margin-top: 100px }
    .ub-xs-mt-110 { margin-top: 110px }
    .ub-xs-mt-120 { margin-top: 120px }
    .ub-xs-mt-130 { margin-top: 130px }
    .ub-xs-mt-140 { margin-top: 140px }
    .ub-xs-mt-150 { margin-top: 150px }

    /* endregion */
    /* region BOTTOM MARGINS */
    .ub-xs-mb-10 { margin-bottom: 10px }
    .ub-xs-mb-20 { margin-bottom: 20px }
    .ub-xs-mb-30 { margin-bottom: 30px }
    .ub-xs-mb-40 { margin-bottom: 40px }
    .ub-xs-mb-50 { margin-bottom: 50px }
    .ub-xs-mb-60 { margin-bottom: 60px }
    .ub-xs-mb-70 { margin-bottom: 70px }
    .ub-xs-mb-80 { margin-bottom: 80px }
    .ub-xs-mb-90 { margin-bottom: 90px }
    .ub-xs-mb-100 { margin-bottom: 100px }
    .ub-xs-mb-110 { margin-bottom: 110px }
    .ub-xs-mb-120 { margin-bottom: 120px }
    .ub-xs-mb-130 { margin-bottom: 130px }
    .ub-xs-mb-140 { margin-bottom: 140px }
    .ub-xs-mb-150 { margin-bottom: 150px }

    /* endregion */
    /* region NO PADDINGS */
    .ub-xs-p-no { padding: 0 !important }
    .ub-xs-pl-no { padding-left: 0 !important }
    .ub-xs-pr-no { padding-right: 0 !important }
    .ub-xs-pt-no { padding-top: 0 !important }
    .ub-xs-pb-no { padding-bottom: 0 !important }

    /* endregion */
    /* region TOP PADDINGS */
    .ub-xs-pt-10 { padding-top: 10px }
    .ub-xs-pt-20 { padding-top: 20px }
    .ub-xs-pt-30 { padding-top: 30px }
    .ub-xs-pt-40 { padding-top: 40px }
    .ub-xs-pt-50 { padding-top: 50px }
    .ub-xs-pt-60 { padding-top: 60px }
    .ub-xs-pt-70 { padding-top: 70px }
    .ub-xs-pt-80 { padding-top: 80px }
    .ub-xs-pt-90 { padding-top: 90px }
    .ub-xs-pt-100 { padding-top: 100px }
    .ub-xs-pt-110 { padding-top: 110px }
    .ub-xs-pt-120 { padding-top: 120px }
    .ub-xs-pt-130 { padding-top: 130px }
    .ub-xs-pt-140 { padding-top: 140px }
    .ub-xs-pt-150 { padding-top: 150px }

    /* endregion */
    /* region BOTTOM PADDINGS */
    .ub-xs-pb-10 { padding-bottom: 10px }
    .ub-xs-pb-20 { padding-bottom: 20px }
    .ub-xs-pb-30 { padding-bottom: 30px }
    .ub-xs-pb-40 { padding-bottom: 40px }
    .ub-xs-pb-50 { padding-bottom: 50px }
    .ub-xs-pb-60 { padding-bottom: 60px }
    .ub-xs-pb-70 { padding-bottom: 70px }
    .ub-xs-pb-80 { padding-bottom: 80px }
    .ub-xs-pb-90 { padding-bottom: 90px }
    .ub-xs-pb-100 { padding-bottom: 100px }
    .ub-xs-pb-110 { padding-bottom: 110px }
    .ub-xs-pb-120 { padding-bottom: 120px }
    .ub-xs-pb-130 { padding-bottom: 130px }
    .ub-xs-pb-140 { padding-bottom: 140px }
    .ub-xs-pb-150 { padding-bottom: 150px }

    /* endregion */
}
